{% extends "loggedin.html" %}
{% block head %}
{% endblock %}
{% load crispy_forms_tags %}
{% block page-content %}
<div class="change-username c-page col-6 mx-auto mt-2 p-3">
    <h1 class="text-center mb-4">Account Settings</h1>
    <div class="row">
        <div class="sidebar mt-5 col-4">
            <a><button class="btn btn-info">Change Username</button></a>
            <a><button class="btn btn-info">Change Password</button></a>
            <a><button class="btn btn-info">Change Email</button></a>
            <a><button class="btn btn-info">Change Profile Picture</button></a>
        </div>
        <div class="setting-form col-8">
            <form class="form-group" method="post">
                <legend>Change Username</legend>
                {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-info">Change Username</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}