{% extends 'account/change_user.html' %}
{% load crispy_forms_tags %}
{% block change-form %}
<form class="form-group" method="post" enctype="multipart/form-data">
    <legend>Change Profile Picture</legend>

    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-info">Change Profile Picture</button>
</form>
{% endblock %}