{% extends "account/base.html" %}
{% block head %}
    {% load crispy_forms_tags %}
    {% load static %}
{% endblock %}
{% block content %}
<div>
    <form method="post" class="form-group justify-content-center">
        <p class="title">Log In</p>
        {% csrf_token %}
        {{ form|crispy }}
        <p>Don't have an account? Create one <a href="/register">here</a></p>
        <button type="submit" name="submit" value="log in" class="btn btn-primary btn-lg">Log In</button>
    </form>
</div>
{% endblock %}