{% extends "account/base.html" %}
{% block head %}
    {% load crispy_forms_tags %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<p class="title">Log In</p>
<form method="post" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Don't have an account? Create one <a href="/register">here</a></p>
    <button type="submit" name="submit" value="log in" class="btn btn-primary btn-lg">Log In</button>
</form>
{% endblock %}