{% extends "loggedin.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block page-content %}
    <div class="c-page container-fluid col-6 mx-auto mt-2 p-3">
        <img src="{{ viewed_user.profile_picture }}" class="mx-3 profile-img">
        <div class="profile-info col-8">
            <h1 class="px-2">{{ viewed_user.username }}</h1>
            <div class="followers col-6 float-left">
                <p>{{ followers }}</p>
                <p>Followers</p>
                {% if viewed_user != user %}
                    <form class="follow-button" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info follow-btn" name="submit">{{ follow_value }}</button>
                    </form>
                {% endif %}
            </div>
            <div class="friends col-6 float-right">
                <p>{{ viewed_friends|length }}</p>
                <p>Friends</p>
            </div>
        </div>
        <div class="settings col-3 text-center">
            {% if viewed_user == user %}
                <a href="{% url 'account:change_username' %}"><button class="btn btn-info mt-2">Profile Settings</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
