{% extends "account/home.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="">
{% endblock %}
{% block content %}
    {% include "account/navbar.html" %}
    <div class="profile">
        <img src="">
        <div class="profile-info">
            <h1>{{ viewed_user.username }}</h1>
            <div class="followers">
                <p>{{ viewed_user.followers|length }}</p>
                <p>{{ viewed_user.followers }}</p>
                <p>Followers</p>
                {% if viewed_user != user %}
                    <form class="follow-button" method="post">
                        <input type="submit" name="submit" value="{{ follow_value }}">
                    </form>
                {% endif %}
            </div>
            <div class="friends">
                <p>{{ viewed_friends|length }}</p>
                <p>Friends</p>
            </div>
        </div>
        <div class="settings">
            {% if viewed_user == user %}
                <a href=""><button>Profile Settings</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
