{% extends "loggedin.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block page-content %}
<div class="c-page">
    <div class="profile-info">
        <div class="img-container">
            <img src="{{ viewed_user.profile_picture.url }}" class="profile-img">
        </div>
        <div class="p-stats">
            <div class="username">
                <h1>{{ viewed_user.username }}</h1>
            </div>
            <div class="follower-row">
                <div class="followers">
                    <p>{{ followers }}</p>
                    <p>Followers</p>
                </div>
                <div class="friends">
                    <p>{{ friends }}</p>
                    <p>Friends</p>
                </div>
            </div>
            <div class="button-row">
                {% if viewed_user != user %}
                <form class="follow-button" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info follow-btn" name="submit">{{ follow_value }}</button>
                </form>
                {% else %}
                    <a class="p-settings-button" href="{% url 'account:change_username' %}"><button class="btn btn-info p-setting-btn">
                        Settings
                    </button></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="post-content">
   
    </div>
</div>
{% endblock %}