{% extends 'loggedin.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
{% endblock %}
{% block page-content %}
<div class="c-page">
    <div class="post-content">
        {% include 'posts/post_content.html' %}
        <div class="loading-icon">
            <img id="loading-gif" src="{% static 'img/loading-wheel.gif' %}" alt="loading-icon">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).on('click', function(event) {
        var clickedClass = $(event.target).attr('class');

        if (clickedClass == 'unliked') {
            sendAjax(
                event,
                "{% url 'posts:like' %}", 
                `<button class="liked">{% bs_icon 'heart-fill' color="#ed4956" extra_classes='heart' %}</button>`, 
                1
            );
        } else if (clickedClass == 'liked') {
            sendAjax(
                event,
                "{% url 'posts:unlike' %}", 
                `<button class="unliked">{% bs_icon 'heart' extra_classes='heart' %}</button>`,  
                -1
            );
        }
    });

    function sendAjax(event, url, replacingIcon, likeChange) {
        var post = $(event.target).parent();
        var icon = $(event.target);
        $.ajax({
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            type: 'post',
            url: url,
            data: {
                'slug': post.attr('id'),
                'liker': '{{ request.user.username }}',
            }, 
            success: function(result) {   
                icon.replaceWith(replacingIcon);
                // Increment like value
                var likes = parseInt(post.children('.likes').text()) + likeChange;

                post.children('.likes').text(likes);
                
                if (likes == 1) {
                    post.children('.likes-text').text('like');
                } else {
                    post.children('.likes-text').text('likes');
                }
            }
        });
    }
    
    // setup to prevent duplication
    var contentDiv = $('.post-content');
    var page = contentDiv.data('page');
    var scrolledOnce = false;
    
    // if i swipe more than once, the duplication happens
    contentDiv.on('scroll', function(event) {
        page = contentDiv.data('page');
        if ((contentDiv.scrollTop() + contentDiv.height() >= contentDiv.prop('scrollHeight') - 20) && !scrolledOnce) {
            scrolledOnce = true;
            setTimeout(function() {
                $.ajax({
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    type: 'post',
                    url: "{% url 'posts:lazy_list' %}",
                    data: {
                        'page': page,
                    },
                    success: function(event) { // JSON Response
                        $('.loading-icon').before(event.posts_html);
                        scrolledOnce = false;

                        if (event.has_next) {
                            contentDiv.data('page', event.page + 1);
                        } else {
                            $('.loading-icon').hide();
                            contentDiv.off('scroll');
                        }
                    }
                });
            }, 1250);
        }
    });
</script>
{% endblock %}