{% load bootstrap_icons %}
{% for post in posts %}
    <div class="post" id="{{ post.get_slug }}">
        <div class="post-top-row">
            <a href="{% url 'account:profile' post.user.username %}">
                <img class="poster-ppic" src="{{ post.user.profile_picture }}" alt="profile picture">
            </a>
            <p>{{ post.user.username }}</p>
        </div>
        <img class="post-img {{ post.get_ratio_class }}" src="media/{{ post.image }}" rel="post image">

        {% if request.user in post.users_liked.all %}
            <button class="liked">{% bs_icon 'heart-fill' color="#ed4956" extra_classes="heart" %}</button>
        {% else %}
            <button class="unliked">{% bs_icon 'heart' extra_classes="heart" %}</button>
        {% endif %}
        <a class="comment-icon" href="{% url 'posts:comments' post.get_slug %}">{% bs_icon 'chat-left-text' %}</a>

        {% if post.likes == 1 %}
            <p class="likes-text">like</p>
        {% else %}
            <p class="likes-text">likes</p>
        {% endif %}

        <p class="likes">{{ post.likes }}</p>
        
        <p class="caption">{{ post.caption }}</p>
        <p class="time-posted" style="font-size: 11px;">Posted: {{ post.date_time_posted }}</p>
    </div>
    <br>
{% endfor %}