.container-fluid{
    padding: 0;
    width: 100%;
    height: 100%;
}

nav {
    background-color: rgb(118, 178, 184);
}

.navbar-brand, .nav-link{
    color: white !important;
}

.img-thumbnail {
    background-color: rgb(118, 178, 184);
}

.link {
    color: white;
}

.link:hover {
    text-decoration: none;
}

.title{
    font-size: 24px;
}

.container div{
    background-color: white;
}

.c-page {
    background-color: white;
    height: 92%;
}

.sidebar{
    width: 200px;
}

.sidebar button {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
}