.heart {
    pointer-events: none;
}

.c-page {
    width: 35%;
    flex-direction: row;
}

.liked, .unliked {
    flex: 1;
    background-color: white;
    border: 0;
}

.post {
    border: rgb(118, 178, 184) 2px solid;
    width: 100%;
}

.post p {
    margin: 0;
}

.post-content {
    overflow-y: scroll;
}

.post-top-row {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: rgb(118, 178, 184) 2px solid;
    font-weight: bold;
}

.post-top-row p {
    flex: 4;
    font-size: 18px;
}

.post-top-row a {
    flex: 1;
}

.poster-ppic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: rgb(118, 178, 184) 2px solid;
}

.post-content {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
}

.likes, .likes-text {
    display: inline;
    float: right;
    font-weight: bold;
    padding-right: 5px;
}

.caption, .time-posted {
    font-size: 16px;
    padding: 8px;
}
