.heart, .chat {
    pointer-events: none;
}

.c-page {
    width: 35%;
    flex-direction: row;
}

.liked, .unliked {
    flex: 1;
    background-color: white;
    border: 0;
}

.comment-icon {
    flex: 1;
    color: black;
}

.comment-icon:hover {
    color: black;
}

.post {
    border: rgb(118, 178, 184) 2px solid;
    width: 100%;
}

.post p {
    margin: 0;
}

.post-content {
    overflow-y: scroll;
    height: 100%;
}

.loading-icon {
    display: flex;
    justify-content: center;
}

#loading-gif {
    width: 30px;
    height: 30px;
}

.post-top-row {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: rgb(118, 178, 184) 2px solid;
    font-weight: bold;
}

.post-top-row p {
    flex: 4;
    font-size: 18px;
}

.post-top-row a {
    flex: 1;
}

.poster-ppic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: rgb(118, 178, 184) 2px solid;
    object-fit: cover;
}

.post-img {
    width: 100%;
    object-fit: cover;
}

.one-one {
    aspect-ratio: 1 / 1;
}

.four-three {
    aspect-ratio: 4 / 3;
}

.sixteen-nine {
    aspect-ratio: 16 / 9;
}

.nine-sixteen {
    aspect-ratio: 9 / 16;
}

.likes, .likes-text {
    display: inline;
    float: right;
    font-weight: bold;
    padding-right: 5px;
}

.caption, .time-posted {
    font-size: 16px;
    padding: 8px;
}

.comments {
    flex-direction: column;
}

.comments-content {
    flex: 14;
    overflow-y: scroll;
    border: black solid 1px;
    padding: 10px;
}

.user-info-row {
    display: flex;
}

.img-container {
    flex: 1;
}

.commenter-img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border:rgb(118, 178, 184) solid 2px;
}

.commenter-username {
    flex: 8;
    margin: 0;
    font-size: 18px;
    align-self: center;
}

.comment-post {
    flex: 1;
    display: flex;
    align-items: center;
}

.comment-msg {
    margin: 0;
    padding-left: 5px;
}

.comment-actions {
    padding-left: 5px;
    font-size: 11px;
}

.reply {
    padding-left: 40px;
}