.profile-info {
    float: right;
}

.profile-img {
    width: 200px;
    height: 200px;
    border: rgb(118, 178, 184) solid 5px;
}

.follow-btn {
    width: 50%;
    height: 25px;
    font-size: 14px;
    padding: 0;
}

.followers p, .friends p {
    font-size: 20px;
}