{% extends "account/base.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static  'css/login.css' %}">
    {% load crispy_forms_tags %}
{% endblock %}
{% block content %}
<p class="title">Register</p>
<form method="post" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Already have an account? Log in <a href="/">here</a></p>
    <button type="submit" name="submit" class="btn btn-primary btn-lg" value="sign up">Sign Up</button>
</form>

{% endblock %}