{% extends "chat/inbox.html" %}
{% load crispy_forms_tags %}
{% block chat-content %}
{% for message in chat.messages_set.all %}
    {% if message.sender == user %}
        <p style="text-align: right;">Sender: {{ message.sender }}</p>
        <p style="text-align: right;">Message: {{ message.message }}</p>
    {% else %}
        <p>Sender: {{ message.sender }}</p>
        <p>Message: {{ message.message }}</p>
    {% endif %}
{% endfor %}
{% endblock %}
{% block msg %}
<form method="post" class="msg-form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {{ field }}
    {% endfor %}
    <button class="btn btn-info" id="send-msg">Send Message</button>
</form>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('.chat-content').scrollTop($('.chat-content').prop('scrollHeight'))
    });
</script>
{% endblock %}