<!-- Navbar -->
{% load static %}
{% load bootstrap_icons %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'posts:list' %}">Home</a>
                <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
                <a class="nav-link" href="{% url 'posts:create' %}">Create Post</a>
                <a class="nav-link" href="{% url 'chat:inbox' %}" tabindex="-1" style="float: right;">Chat</a>
                <a class="nav-link" href="{% url 'account:profile' user.username %}#" tabindex="-1" style="float: right;">Profile</a>
            </div>
        </div>
        <form id="search-form" class="d-flex justify-content-center flex-grow-1" style="margin: 0;">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" autocomplete="off" list="search-results">
        </form>
        <a class="nav-link" href="{% url 'notifications:list' %}">
            {% bs_icon 'bell-fill' size='20px' %}
            {% if notif_count > 0%}
                <div class="alert notif-count" style="background-color: rgb(224, 18, 18);">{{ notif_count }}</div>
            {% endif %}
        </a>
        <a class="nav-link" href="{% url 'account:profile' user.username %}" style="padding: 0;">
            <img src="{{ user.profile_picture }}" alt="ppic" id="nav-img" style="border-radius: 50%;">
        </a>
    </div>
</nav>
<div class="shadow bg-body rounded" id="search-results"></div>